
      body {
        font-family: Helvetica, Arial, sans-serif; 
      }
      table {
        width: 50%;
        border-collapse: collapse;
        margin: 20px auto;
        margin-top: 10px;
      }
      h2{
        text-align: center;
        margin-top: 30px;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: #f2f2f2;

      }
      tr:hover {
        background-color: #f5f5f5;
      }
      .navbar {
       overflow: hidden;
       background-color: #000000;
       width: 100%;
       height: 100px;
       padding: 0;
       margin: 0;
      }
      .navbar a {
        display: inline-block; ;
        color: white;
        text-align: left;
        padding: 14px 30px;
        text-decoration: none;
        margin-top: 50px;
        margin-left: 10px;
        font-weight: bold;
      }
      .navbar a:hover {
        background-color: #c6af05;
      }

      .usuario{
        margin-left: 350px;
        color: white;
      }

      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.8); /* Fondo oscuro */
      }
      
      .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 450px;
        height: 400px;
        align-items: center;
        text-align: center;
        border: solid 1px black;
        position: relative;
      }
      #formularioAgregarEmpresa{
        margin-top: 80px;
      }
      #formularioAgregarEmpresa label{
        font-weight: bold;
      }

      #formularioAgregarEmpresa input{
        border: solid 1px black;
      }
      
      #editarEmpresaForm{
        margin-top: 80px;
      }
      #editarEmpresaForm label{
        font-weight: bold;
      }

      #editarEmpresaForm input{
        border: solid 1px black;
      }
      #formularioAgregarCliente{
        margin-top: 80px;
      }
      #formularioAgregarCliente label{
        font-weight: bold;
      }

      #formularioAgregarCliente input{
        border: solid 1px black;
      }
      
      #editarClienteForm{
        margin-top: 80px;
      }
      #editarClienteForm label{
        font-weight: bold;
      }

      #editarClienteForm input{
        border: solid 1px black;
      }
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      .labelUQ{
        text-align: left;
        margin-left: 22px;
        margin-top: 22px;
      }
      .labelpck{
        margin-top: 22px;
        display: flex;
        text-align: left;
        margin-left: 22px;
      }
      .inputlg{
        width: 300px;
      }
      #codEmpresaeditar{
        border: none;
      }
      #codClienteeditar{
        border: none;
      }
      .btnGuardar{
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 15px;
        background-color: #099c4b;
        color: black;
        font-weight: bold;
        border: 1px solid black;
      }

      .btnGuardar:hover{
        background-color: #11531f;
      }

      .btnCancelar{
        margin-top: 15px;
        background-color: rgb(219, 219, 219);
        color: black;
        font-weight: bold;
        border: 1px solid black;
        margin-left: 230px;
      }
      .btnCancelar:hover{
        background-color: #636764;
      }
      .btnBorrar{
        margin-left: 5px;
        margin-top: 15px;
        background-color: #e02a2a;
        color: black;
        font-weight: bold;
        border: 1px solid black;
      }
      .btnBorrar:hover{
        background-color: #5e1a1a;
      }

      .tituloForm{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #000000;
        height: 60px;
        background-color: #222222;
        color: white;
      }

      .footerForm{
        position: absolute;
        bottom: 0;
        left: 0; 
        width: 100%; 
        border-top: 1px solid #000000;
        height: 50px;
        background-color: #888;
      }

      .contenedorBtn{
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        margin-left: 650px;
      }

      #btnAgregar {
        width: 27px; /* Ancho de tu imagen */
        height: 27px; /* Alto de tu imagen */
        background-image: url("../Images/anadir.png"); /* Ruta de la imagen */
        background-size: cover; /* Ajusta la imagen al tamaño del botón */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-color: transparent;
        border: transparent; /* Quita el borde del botón */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
      }

      .modalborrar {
        display: none; /* Ocultar el modal por defecto */
        position: fixed; /* Posición fija para cubrir toda la ventana */
        z-index: 1; /* Situar el modal por encima del contenido */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Añadir desplazamiento si es necesario */
        background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
      }
      
      .modal-contenido {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #000000;
        width: 300px;
        height: 100px;
      }

      #confirmarBtn{
        background-color: #12934c;
      }

      #confirmarBtn:hover{
        background-color: #0e773d
      }
      
      #cancelarBtn {
        background-color: #f44336;
      }
      
      #cancelarBtn:hover {
        background-color: #d32f2f;
      }